<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">{{titre}}</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <mat-card>
        <form [formGroup]="profileForm" autocomplete="off" (ngSubmit)="submit()">
          <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Tên</mat-label>
                <input matInput placeholder="Name" formControlName="name" />
                <mat-error *ngIf="profileForm.get('name')?.hasError('required')">
                  Nhập vào tên của bạn
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Họ</mat-label>
                <input matInput placeholder="Surname" formControlName="surname" />
                <mat-error *ngIf="profileForm.get('surname')?.hasError('required')">
                  Nhập vào họ của bạn
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email address" formControlName="email" />
                <mat-error *ngIf="profileForm.get('email')?.hasError('required')">
                  Nhập vào địa chỉ email
                </mat-error>
                <mat-error *ngIf="profileForm.get('email')?.hasError('email')">
                  Email không hợp lệ
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Mật khẩu</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="profileForm.get('password')?.hasError('required')">
                  Nhập vào mật khẩu của bạn
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile class="action">
              <button mat-button color="primary" type="submit">XONG</button>
              <button mat-stroked-button color="warn" type="reset">LOẠI BỎ</button>
            </mat-grid-tile>

          </mat-grid-list>
        </form>
          
      </mat-card>
    </div>
  </div>
</div>
