.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  &__box {
    min-height: 120px;
    background: #659349;
    margin: 0 -1rem;
    line-height: 120px;
    font-size: 36px;
  }
  &__content {
    min-height: 70vh;
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    font-size: 2rem;
  }

  table {
    width:100%;
  }
}
